#employee {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 50%;
}

#employee td, #employee th, #employee table {
  /* border: 1px solid #ddd;
  padding: 8px; */
  border: 1px solid black;
}

/* #employee tr:nth-child(even){background-color: #f2f2f2;} */

/* #employee tr:hover {background-color: #ddd;}

#employee th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
} */